[submodule "LMS"]
	path = LMS
	url = https://github.com/Phibedy/LMS
[submodule "external/modules/ogre_window_manager"]
	path = external/modules/ogre_window_manager
	url = https://github.com/Phibedy/ogre_window_manager.git
[submodule "external/libraries/ogre_binding"]
	path = external/libraries/ogre_binding
	url = https://github.com/Phibedy/ogre_binding.git
[submodule "external/libraries/imaging"]
	path = external/libraries/imaging
	url = https://github.com/syxolk/imaging.git
[submodule "external/modules/camera_importer"]
	path = external/modules/camera_importer
	url = https://github.com/Phibedy/camera_importer.git
[submodule "external/modules/image_converter"]
	path = external/modules/image_converter
	url = https://github.com/syxolk/image_converter.git
[submodule "external/modules/image_renderer"]
	path = external/modules/image_renderer
	url = https://github.com/Phibedy/image_renderer.git
[submodule "external/modules/image_hint_worker"]
	path = external/modules/image_hint_worker
	url = https://github.com/Phibedy/image_hint_worker.git
[submodule "external/modules/image_loader"]
	path = external/modules/image_loader
	url = https://github.com/syxolk/image_loader.git
[submodule "external/modules/image_logger"]
	path = external/modules/image_logger
	url = https://github.com/syxolk/image_logger.git
[submodule "external/modules/image_hint_transformer"]
	path = external/modules/image_hint_transformer
	url = https://github.com/syxolk/image_hint_transformer.git
[submodule "external/libraries/math_lib"]
	path = external/libraries/math_lib
	url = https://github.com/syxolk/math_lib.git
[submodule "external/modules/ogre_input"]
	path = external/modules/ogre_input
	url = https://github.com/syxolk/ogre_input.git
[submodule "external/libraries/imaging_detection"]
	path = external/libraries/imaging_detection
	url = https://github.com/Phibedy/imaging_detection.git
[submodule "external/libraries/googletest_lib"]
	path = external/libraries/googletest_lib
	url = https://github.com/syxolk/googletest_lib.git
[submodule "external/modules/image_persistent"]
	path = external/modules/image_persistent
	url = https://github.com/syxolk/image_persistent.git
[submodule "external/modules/trajectory_point_controller"]
	path = external/modules/trajectory_point_controller
	url = https://github.com/Corni33/trajectory_point_controller.git
