[submodule "LMS"]
	path = LMS
	url = https://github.com/Phibedy/LMS
[submodule "external/modules/ogre_window_manager"]
	path = external/modules/ogre_window_manager
	url = https://github.com/Phibedy/ogre_window_manager.git
[submodule "external/libraries/ogre_binding"]
	path = external/libraries/ogre_binding
	url = https://github.com/Phibedy/ogre_binding.git
[submodule "external/libraries/imaging"]
	path = external/libraries/imaging
	url = https://github.com/syxolk/imaging.git
[submodule "external/modules/camera_importer"]
	path = external/modules/camera_importer
	url = https://github.com/Phibedy/camera_importer.git
[submodule "external/modules/image_converter"]
	path = external/modules/image_converter
	url = https://github.com/syxolk/image_converter.git
[submodule "external/modules/image_renderer"]
	path = external/modules/image_renderer
[submodule "external/modules/image_hint_worker"]
	path = external/modules/image_hint_worker
	url = https://github.com/Phibedy/image_hint_worker.git
	url = https://github.com/Phibedy/image_hint_worker.git
