[submodule "LMS"]
	path = LMS
	url = https://github.com/Phibedy/LMS
[submodule "external/modules/ogre_window_manager"]
	path = external/modules/ogre_window_manager
	url = https://github.com/Phibedy/ogre_window_manager.git
[submodule "external/libraries/ogre_binding"]
	path = external/libraries/ogre_binding
	url = https://github.com/Phibedy/ogre_binding.git
[submodule "external/libraries/imaging"]
	path = external/libraries/imaging
	url = https://github.com/syxolk/imaging.git
[submodule "external/modules/camera_importer"]
	path = external/modules/camera_importer
	url = https://github.com/Phibedy/camera_importer.git
[submodule "external/modules/image_converter"]
	path = external/modules/image_converter
	url = https://github.com/syxolk/image_converter.git
[submodule "external/modules/image_renderer"]
	path = external/modules/image_renderer
	url = https://github.com/Phibedy/image_renderer.git
[submodule "external/modules/image_hint_worker"]
	path = external/modules/image_hint_worker
	url = https://github.com/Phibedy/image_hint_worker.git
[submodule "external/modules/image_loader"]
	path = external/modules/image_loader
	url = https://github.com/syxolk/image_loader.git
[submodule "external/modules/image_logger"]
	path = external/modules/image_logger
	url = https://github.com/syxolk/image_logger.git
[submodule "external/modules/image_hint_transformer"]
	path = external/modules/image_hint_transformer
	url = https://github.com/syxolk/image_hint_transformer.git
[submodule "external/libraries/math_lib"]
	path = external/libraries/math_lib
	url = https://github.com/syxolk/math_lib.git
[submodule "external/modules/ogre_input"]
	path = external/modules/ogre_input
	url = https://github.com/syxolk/ogre_input.git
[submodule "external/libraries/imaging_detection"]
	path = external/libraries/imaging_detection
	url = https://github.com/Phibedy/imaging_detection.git
[submodule "external/libraries/googletest_lib"]
	path = external/libraries/googletest_lib
	url = https://github.com/syxolk/googletest_lib.git
[submodule "external/modules/trajectory_point_controller"]
	path = external/modules/trajectory_point_controller
	url = https://github.com/Corni33/trajectory_point_controller.git
[submodule "external/modules/image_proxy"]
	path = external/modules/image_proxy
	url = https://github.com/syxolk/image_proxy.git
[submodule "external/modules/importer_senseboard2015"]
	path = external/modules/importer_senseboard2015
	url = https://github.com/Phibedy/importer_senseboard2015.git
[submodule "external/libraries/sensor_utils"]
	path = external/libraries/sensor_utils
	url = https://github.com/Phibedy/sensor_utils.git
[submodule "external/libraries/street_environment"]
	path = external/libraries/street_environment
	url = https://github.com/Phibedy/street_environment.git
[submodule "external/modules/socket_data"]
	path = external/modules/socket_data
	url = https://github.com/Phibedy/socket_data.git
[submodule "external/libraries/socket_connection"]
	path = external/libraries/socket_connection
	url = https://github.com/Phibedy/socket_connection.git
[submodule "external/libraries/cereal"]
	path = external/libraries/cereal
	url = https://github.com/syxolk/cereal.git
[submodule "external/modules/ueye_importer"]
	path = external/modules/ueye_importer
	url = https://github.com/Phibedy/ueye_importer.git
[submodule "external/libraries/sense_link"]
	path = external/libraries/sense_link
	url = https://github.com/Bitfroest/sense_link.git
[submodule "external/modules/usb_sense_link"]
	path = external/modules/usb_sense_link
	url = https://github.com/Bitfroest/usb_sense_link.git
[submodule "external/modules/car_to_sense_link"]
	path = external/modules/car_to_sense_link
	url = https://github.com/syxolk/car_to_sense_link.git
[submodule "external/modules/trajectory_creator"]
	path = external/modules/trajectory_creator
	url = https://github.com/tum-phoenix/trajectory_creator
[submodule "external/modules/parking"]
	path = external/modules/parking
	url = https://github.com/tum-phoenix/parking.git
[submodule "external/modules/sfml_sound_player"]
	path = external/modules/sfml_sound_player
	url = https://github.com/lms-org/sfml_sound_player
[submodule "external/libraries/mavlink-messages-c"]
	path = external/libraries/mavlink-messages-c
	url = https://github.com/tum-phoenix/mavlink-messages-c
[submodule "external/modules/rgb_lights_controller"]
	path = external/modules/rgb_lights_controller
	url = https://github.com/tum-phoenix/rgb_lights_controller
[submodule "external/modules/environment_kalman_lukas"]
	path = external/modules/environment_kalman_lukas
	url = https://github.com/lkskstlr/environment_kalman_lukas.git
